<section class="contatos" id="contatos">
    <div class="container">
        <div class="row">
            <div>
                <div class="col-lg-6 col-md-6">
                    <h2>Contatos</h2>
                    <i class="fa fa-home" aria-hidden="true"></i><span>Cabo - PE, 54520-570. BRASIL</span>
                    <br>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i><span> walteann3@gmail.com</span>
                    <br>
                    <i class="fa fa-whatsapp" aria-hidden="true"></i><span>081 9 8342-6525</span>
                    <br>
                    <i class="fa fa-globe" aria-hidden="true"></i><span>https://walteann.github.io/</span>
                </div>

                <div class="col-lg-6 col-md-6 anexos">
                    <h2>Anexos</h2>
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i><a href="./../assets/files/WalteannCosta.pdf" target="_blank">Curriculo</a><br>
                </div>
            </div>
        </div>
    </div>
</section>
