<nav id="minhaNavbar" class="navbar  navbar-transparent navbar-fixed-top " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://walteann.github.io/" class="navbar-brand"><span>&lt;</span>WCosta<span>/&gt;</span></a>
        </div>
        <div class="navbar-collapse collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="scroll" href="#header">Home</a></li>
                <li><a class="scroll" href="#sobreMim">Sobre</a></li>
                <li><a class="scroll" href="#experiencia">Experiência</a></li>
                <li><a class="scroll" href="#skills">Habilidades</a></li>
                <li><a class="scroll" href="#contatos">Contato</a></li>
            </ul>
        </div>
    </div>
</nav>
