<section class="portfolio" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <h2>Portfólio</h2>
            <div class="port">
                <div class="meuPortfolio wow fadeInUpBig" data-wow-delay="0.4s">
                    <div class="col-lg-4 col-md-4">
                        <img src="assets/imagem/pages/kulpper.jpg" alt="portfolio2">
                        <div class="strings">
                            <h3><a href="pages/kulpperpage/kulpper.html">kulpper</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
