<section class="perfil" id="perfil">
    <div class="container-fluid">
        <div class="row">
            <div class="meuPerfil">
                <div class="col-lg-2 col-md-2 oPerfil wow fadeInUp" data-wow-delay="0.4s" *ngFor="let qualidade of qualidades">
                    <div class="imagem"><img src="{{qualidade.img}}" alt="{{qualidade.alt}}"></div>
                    <h5>{{qualidade.title}}</h5>
                    <div class="perf">
                        <p>{{qualidade.subTitle}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
