.rodapefinal {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: -15px;
  }

  .minhasRedes {
    height: 55px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: -10px;
  }

  .minhasRedes div {
    height: 50px;
    width: 50px;
    padding: 10px;
  }

  .redesocial {
    padding: 12px;
  }

  .redesocial i {
    color: #56636e;
    font-size: 25pt;
    transition: all 0.6s ease-out;
  }

  .redesocial i:hover {
    color: #98d2ff;
    font-size: 28pt;
    cursor: pointer;
    transform: translateY(-10px);
  }


.rodape {
    font-family: "Roboto", arial, sans-serif;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #13181b;
    text-align: center;
    color: #56636e !important;
  }
