<footer class="rodape">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 rodapefinal">

                <div class="minhasRedes">
                    <div class="redesocial"><a href="https://www.facebook.com/walteann.costa" target="_blank"><i class="fa fa-facebook"
                                aria-hidden="true"></i></a></div>
                    <div class="redesocial"><a href="https://www.linkedin.com/in/walteann-costa" target="_blank"><i class="fa fa-linkedin"
                                aria-hidden="true"></i></a></div>
                    <div class="redesocial"><a href="https://github.com/walteann" target="_blank"><i class="fa fa-github"
                                aria-hidden="true"></i></a></div>

                </div>
                <h6>&copy;Desenvolvido por Walteann Costa</h6>
                <h6>v3.0.0</h6>
                <br>

            </div>
        </div>
    </div>
</footer>
