<div class="header" id="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="testeT">
                    <div class="WalCosta">
                        <div class="centralizar">
                            <h1><strong>WALTEANN COSTA</strong></h1>
                        </div>
                    </div>
                    <div style="color: black;">
                        <span class="element"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
