<section class="habilidades" id="skills">
    <div class="container-fluid">
        <div class="row">
            <h1>Habilidades</h1>
            <hr>
            <div class="col-lg-4 col-md-4">
                <h2>Idiomas</h2>
                <div class="idiomas">
                    <div class="meusIdiomas">

                        <label>Português:</label>
                        <div class="teste">
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="0.2s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="0.4s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="0.6s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="0.8s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="1.0s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="1.2s"></i>

                        </div><br>
                    </div>
                    <div class="meusIdiomas">
                        <label>Inglês/Leitura</label>
                        <div class="teste">
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="1.3s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="1.5s"></i>
                            <i class="fa fa-star-half-o wow fadeInLeft" aria-hidden="true" data-wow-delay="1.7s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="1.9s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="2.1s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="2.3s"></i>

                        </div><br>
                    </div>
                    <div class="meusIdiomas">
                        <label>Inglês/Conversação:</label>
                        <div class="teste">
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="2.4s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="2.6s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="2.8s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="3.0s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="3.2s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="3.4s"></i>

                        </div><br>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">

                <h2>Conhecimento em:</h2>
                <div class="skills">
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.1s">
                        <img src="assets/imagem/skills/php.png" alt="php"></div>
                    <div class="skills2 wow fadeInDown" data-wow-delay="0.2s"><img src="assets/imagem/skills/java.png" alt="java"></div>
                    <div class="skills2 wow fadeInUp" data-wow-delay="0.4s"><img src="assets/imagem/skills/angularjs.png"
                            alt="angularjs"></div>
                    <div class="skills2 wow fadeInRight" data-wow-delay="0.3s"><img src="assets/imagem/skills/csharp.png"
                            alt="csharp"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.4s"><img src="assets/imagem/skills/html5.png" alt="html5"></div>
                    <div class="skills2 wow fadeInDown" data-wow-delay="0.5s"><img src="assets/imagem/skills/css3.png" alt="css3"></div>
                    <div class="skills2 wow fadeInRight" data-wow-delay="0.6s"><img src="assets/imagem/skills/javascript.png"
                            alt="javascript"></div>
                    <div class="skills2 wow fadeInUp" data-wow-delay="0.6s"><img src="assets/imagem/skills/es6.png" alt="ecmascript6"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.7s"><img src="assets/imagem/skills/jquery.png"
                            alt="jquery"></div>
                    <div class="skills2 wow fadeInUp" data-wow-delay="0.8s"><img src="assets/imagem/skills/mysql.png" alt="mysql"></div>
                    <div class="skills2 wow fadeInDown" data-wow-delay="0.8s"><img src="assets/imagem/skills/bootstrap3.png"
                            alt="bootstrap321"></div>
                    <div class="skills2 wow fadeInUp" data-wow-delay="0.8s"><img src="assets/imagem/skills/materialize.png"
                            alt="materialize"></div>
                    <div class="skills2 wow fadeInRight" data-wow-delay="0.9s"><img src="assets/imagem/skills/photoshop.png"
                            alt="photoshop"></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <h2>Familiarizado com</h2>
                <div class="skills">
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.1s"><img src="assets/imagem/skills/git.png" alt="git"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.2s"><img src="assets/imagem/skills/github.png"
                            alt="github"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.5s"><img src="assets/imagem/skills/filezilla.png"
                            alt="filezilla"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.3s"><img src="assets/imagem/skills/tortoisesvn.png"
                            alt="tortoise"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.4s"><img src="assets/imagem/skills/sql.png" alt="sql"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.5s"><img src="assets/imagem/skills/xampp.png" alt="xampp"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.6s"><img src="assets/imagem/skills/trello.png"
                            alt="trello"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.7s"><img src="assets/imagem/skills/moqups.png"
                            alt="moqups"></div>

                </div>

            </div>

        </div>
    </div>
</section>
